@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 38 43% 95%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 35 80% 48%;
    --primary-foreground: 38 43% 98%;
    --secondary: 35 20% 90%;
    --secondary-foreground: 35 80% 20%;
    --muted: 35 10% 90%;
    --muted-foreground: 20 14% 40%;
    --accent: 5 54% 49%;
    --accent-foreground: 38 43% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 20% 85%;
    --input: 35 20% 85%;
    --ring: 35 80% 48%;
    --chart-1: 35 80% 48%;
    --chart-2: 5 54% 49%;
    --chart-3: 20 14% 4%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 38 43% 95%;
    --card: 20 14% 8%;
    --card-foreground: 38 43% 95%;
    --popover: 20 14% 8%;
    --popover-foreground: 38 43% 95%;
    --primary: 35 80% 55%;
    --primary-foreground: 20 14% 4%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 38 43% 95%;
    --muted: 20 14% 15%;
    --muted-foreground: 20 14% 60%;
    --accent: 5 54% 55%;
    --accent-foreground: 38 43% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 20%;
    --input: 20 14% 20%;
    --ring: 35 80% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  z-index: 10;
}
